/* подключение шрифтов - font-face */
@font-face {
    font-family: "GolosTextReg";
    src: local("Golos Text") url("https://github.com/netology-code/html/blob/main/flex-elements-positioning/fonts/golostext-regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "GolosTextBold";
    src: local("Golos Text") url("https://github.com/netology-code/html/blob/main/flex-elements-positioning/fonts/golostext-bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* начало фрагмента - эти стили трогать нельзя, так как они переиспользуюся в других блоках и страницах сайта */
.wrp h2 {
    color: #015cab;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 9px;
    font-weight: 400;
}

p {
    font-size: 15px;
    line-height: 18px;
}

.author img {
    width: 100px;
    margin-bottom: 6px;
}

/* конец фрагмента */
/* стили студента */

/* общие стили - обнуление, body*/
body {
    font-family: "GolosTextReg", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.wrp {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
    padding: 40px;
    display: flex;
    position: relative;
}

.content {
    width: 750px;
    margin: 0;
    text-align: left;
    padding-left: 37px;
}

.author {
    width: 173px;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 40px;
    margin-left: 40px;
    padding-top: 40px;  
}

main .author img {
    width: 68px;
    margin: 0;
}

div.author h2 {
    margin: 6px 0 0 0;
}

div.author p {
    margin: 12px 0 0 0;
}

/* стили для элементов внутри div.content */
.title {
    font-family: "GolosTextBold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin: 0 0 34px 0;
}

#subtitle {
    font-family: "GolosTextBold", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: inherit;
    margin: 0 0 16px 0;
}

.text {
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 34px 0;
}

.text-small {
    font-size: 20px;
    line-height: 28px;
    margin: 0 0 20px 0;
}

/* стили для сетки */