/* подключение шрифтов - font-face */
@font-face {
  font-family: "GolosTextReg";
  src: local("Golos Text") url("https://github.com/netology-code/html/blob/main/flex-elements-positioning/fonts/golostext-regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosTextBold";
  src: local("Golos Text") url("https://github.com/netology-code/html/blob/main/flex-elements-positioning/fonts/golostext-bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* начало фрагмента - эти стили трогать нельзя, так как они переиспользуюся в других блоках и страницах сайта */
.wrp h2 {
    color: #015cab;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 9px;
    font-weight: 400;
}

p {
    font-size: 15px;
    line-height: 18px;
}

.author img {
    width: 100px;
    margin-bottom: 6px;
}
/* конец фрагмента */
/* стили студента */

/* общие стили - обнуление, body*/
body {
    font-family: "GolosTextReg", sans-serif;
    font-style: normal;
    font-weight: 400;
}

.content {
    margin: 0;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}

.subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.text {
    font-size: 28px;
    line-height: 35px;
}

.text-small {
    font-size: 20px;
    line-height: 28px;
}

/* стили для элементов внутри div.content */

/* стили для сетки */